*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #8ba8aa;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
    border-radius: 5px;
}

.info{
    background-color: #789395;
    color: #E5E3C9;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.info p {
    padding: 2px;
}

.top {
background-color: #789395;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.top button {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #cac8ad;
    border: 2px solid #789395;
    font-size: 60px;
    margin: 1em;

}

.top button:hover {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #c7c4a4;
    border: 2px solid #789395;
    font-size: 60px;
    cursor: pointer;
    transform: scale(1.05);
    margin: 1em;


}

.mainframe{
background-color: #E5E3C9;
color: #789395;
width: 100%;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;

}
.bot{
    width: 100%;
}
#play{
    width: 100%;
    background-color: #6a8283;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 5vh;
    font-size: 20px;
    font-family: sans-serif;
    color: #c7c4a4;
}

#play:hover{
    width: 100%;
    background-color: #5e7575;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 5vh;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    color: #c7c4a4;
}
